<div class="page-area">
    <table>
        <thead>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
        </thead>
        <tbody>
            <tr *ngFor="let product of product">
                <td scope="row">{{product.id}}</td>
                <td scope="row">{{product.name}}</td>
                <td scope="row">{{product.username}}</td>
                <td scope="row">{{product.email}}</td>
            </tr>
        </tbody>
    </table>
</div>