<div class="page-area">
    <div class="text-center">
        <h2>Buy Products</h2>
    </div>
    <div class="alert alert-light border d-flex align-items-center" *ngIf="addedProduct">
        <strong class="text-success">{{addedProduct}}</strong> &nbsp; is selected and added in cart
        <button class="btn btn-success ms-auto">Checkout</button>
    </div>
    <hr class="mb-3">


    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <img src="../../assets/laptop.webp" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Laptop</h5>
                    <button class="btn btn-success" (click)="onSelectProduct('laptop')">Select</button>
                </div>
            </div>
            <div class="card">
                <img src="../../assets/mobile2.jpeg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Mobile</h5>
                    <button class="btn btn-success" (click)="onSelectProduct('mobile')">Select</button>
                </div>
            </div>
            <div class="card">
                <img src="../../assets/tv.png" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">TV</h5>
                    <button class="btn btn-success" (click)="onSelectProduct('tv')">Select</button>
                </div>
            </div>
            <div class="card">
                <img src="../../assets/washingmachine.webp" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Washing Machine</h5>
                    <button class="btn btn-success" (click)="onSelectProduct('wm')">Select</button>
                </div>
            </div>
        </div>
        <div class="col-md-12 bg-success text-white text-center py-4">
            <h2 *ngIf="!productSelected">Please Select any Product</h2>
            <h2 *ngIf="productSelected">{{selectedProduct}} is Selected</h2>
            <button class="btn" (click)="onAddProduct()" >Add to Cart</button>
        </div>
    </div>

</div>