<div class="page-area">
    <h2 class="top">Buy Products</h2>
    <p class="top">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, perferendis voluptas laboriosam, officiis labore
        possimus magni, vel qui quisquam cupiditate atque libero molestiae voluptates ullam harum voluptatum incidunt
        odit exercitationem.</p>
    <hr class="mb-3">

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <img src="../../assets/laptop.webp" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Laptop</h5>
                    <button class="btn btn-success" (click)="onSelectProduct()" >Select</button>
                </div>
            </div>
            <div class="card">
                <img src="../../assets/mobile2.jpeg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Mobile</h5>
                    <button class="btn btn-success" (click)="onSelectProduct()" >Select</button>
                </div>
            </div>
            <div class="card">
                <img src="../../assets/tv.png" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">TV</h5>
                    <button class="btn btn-success" (click)="onSelectProduct()" >Select</button>
                </div>
            </div>
            <div class="card">
                <img src="../../assets/washingmachine.webp" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Washing Machine</h5>
                    <button class="btn btn-success" (click)="onSelectProduct()" >Select</button>
                </div>
            </div>
        </div>
        <div class="col-md-12 bg-success text-white text-center py-4">
            <h2 *ngIf="!productSelected">Please Select any Product</h2>
            <h2 *ngIf="productSelected">{{selectedProduct}} is Selected</h2>
            <button class="btn">Add to Cart</button>
        </div>
    </div>

</div>