<div class="page-area">
    <h2 class="top">Products</h2>
    <p class="top">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, perferendis voluptas laboriosam, officiis labore
        possimus magni, vel qui quisquam cupiditate atque libero molestiae voluptates ullam harum voluptatum incidunt
        odit exercitationem.</p>
    <hr class="mb-3">

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <img src="../../assets/laptop.webp" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Laptop</h5>
                    <p class="card-text">agnam voluptas provident neceute enim unde! Quae, repndae!</p>
                    <a routerLink="laptop" class="btn btn-success">Know More</a>
                </div>
            </div>
            <div class="card">
                <img src="../../assets/mobile2.jpeg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Mobile</h5>
                    <p class="card-text">agnam voluptas provident Quae, repndae!</p>
                    <a routerLink="mobile" class="btn btn-success">Know More</a>
                </div>
            </div>
            <div class="card">
                <img src="../../assets/tv.png" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">TV</h5>
                    <p class="card-text">agnam voluptas provident neceute enim unde! Quae, repndae!</p>
                    <a routerLink="tv" class="btn btn-success">Know More</a>
                </div>
            </div>
            <div class="card">
                <img src="../../assets/washingmachine.webp" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Washing Machine</h5>
                    <p class="card-text">agnam voluptas provident nec!</p>
                    <a routerLink="wm" class="btn btn-success">Know More</a>
                </div>
            </div>
        </div>
    </div>

</div>